Source: camx-glymur
Section: non-free/libs
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 qcom-sensing-hub,
 libfastrpc1,
 libglib2.0-0t64,
 libprotobuf32t64,
 libxml2,
Standards-Version: 4.7.4
Homepage: http://support.cdmatech.com
Vcs-Browser: https://github.com/qualcomm-linux/pkg-camx-glymur
Vcs-Git: https://github.com/qualcomm-linux/pkg-camx-glymur.git

Package: camx-glymur
Architecture: arm64
Depends:
 hexagon-dsp-binaries-qualcomm-glymur-crd,
 qcom-fastcv-binaries,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm CamX usermode libraries for Glymur platform
 Core camera driver components for Glymur platform.

Package: libcamx-glymur1
Architecture: arm64
Depends:
 camx-glymur (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 camx-server-runtime-any,
Description: Qualcomm CamX libraries for camera service (Glymur platform)
 Set of libraries used by camera service (QMMF) for Glymur platform

Package: libcamx-glymur-dev
Section: non-free/libdevel
Architecture: arm64
Depends:
 camx-glymur (= ${binary:Version}),
 ${misc:Depends},
Description: Dev package for CamX libraries for camera service
 Contains headers, unversioned so files used by camera service (QMMF)
 for Glymur platform
