#!/usr/bin/make -f

%:
	dh $@

# Upstream already strips .debug_info section, no need to try to do it again
override_dh_dwz:

maintainerclean:
	rm -r \
		LICENSE.qcom-2 \
		camx-entitled-headers-dev \
		camx-glymur \
		camx-glymur-dbgsym \
		camx-glymur-dev \
		libcamx-dev \
		libcamx-glymur-dev \
		libcamx-glymur1 \
		libcamx-glymur1-dbgsym
override_dh_strip:
	# Don't strip DSP skel files
	dh_strip --exclude=libhme_dsp_skel.so --exclude=libbitml_nsp_73nb_skel.so

